<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <section class="w-full  md:h-screen flex flex-col p-7" id="about">
    <div class="w-full h-full p-4 md:p-28">
        <div class="text-center">
          <h1 class="text-3xl font-bold text-[#31E1F7]">
            About <span class="text-white">Me</span>
          </h1>
          <hr class="text-white my-3.5" />
          <p class="text-white text-justify md:text-center md:text-xl">
            Saya Fiky Alrasya, lahir pada 24 April 2009 di Ajibarang, Kabupaten
            Banyumas, Jawa Tengah. Saya memiliki ketertarikan besar di dunia
            teknologi, terutama dalam pengembangan web dan aplikasi. Saat ini,
            saya merupakan siswa di SMK Telkom Purwokerto yg ingin menjadi
            Frontend Web Developer. Saya memiliki pengetahuan dalam Next.js,
            React, Tailwind CSS, dan JavaScript. Saya juga sedang mengembangkan
            Quatronime, sebuah website animelist yang menyajikan informasi
            lengkap tentang anime dan karakter. Selain coding, saya juga
            suka bermain game dan menonton anime, yang sering menjadi inspirasi
            dalam proyek-proyek saya. Saya percaya bahwa teknologi bisa menjadi
            solusi untuk banyak masalah, dan saya selalu berusaha untuk terus
            belajar serta berkembang di bidang ini.
          </p>
        </div>
      </div>
    </section>
</body>
</html>