<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    <section class="w-full h-full md:h-screen flex flex-col p-7 items-center justify-center" id="eskil">
        <div class="p-4 sm:p-12 md:p-16"> 
          <h1 class="text-3xl font-bold text-[#31E1F7] text-center">Education</h1>
          <hr class="border-white my-4" />
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-center items-stretch"> 
            <!-- Card 1 -->
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700">
              <p class="text-white">2012</p>
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Pendidikan Anak Usia Dini</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">Awal pendidikan saya yaitu Pendidikan Anak Usia Dini atau yang lebih dikenal dengan sebutan PAUD.</p>
            </div>
            <!-- card 2 -->
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700">
              <p class="text-white">2013-2015</p>
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">TK</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">Setelah menyelesaikan PAUD, saya melanjutkan belajar ke TK selama 2 tahun.</p>
            </div>
            <!-- Card 3 -->
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700">
              <p class="text-white">2015-2021</p>
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">SD</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">Setelah menyelesaikan TK, saya bersekolah di SDN Ajibarang Wetan selama 6 tahun.</p>
            </div>
            <!-- Card 4 -->
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700">
              <p class="text-white">2021-2024</p>
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">SMP</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">Saya bersekolah di SMPN 1 Ajibarang dan mulai mengenal coding.</p>
            </div>
            <!-- Card 5 -->
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700">
              <p class="text-white">2024-2027</p>
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">SMK</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">Saya bersekolah di SMK Telkom selama 3 tahun dan mulai mengembangkan skills dalam coding.</p>
            </div>
          </div>
        </div>
      </section>
</body>
</html>