<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    <section class="w-full h-screen flex flex-col p-7" id="eskil">
    <div class="w-full h-full p-28">
        <h1 class="text-3xl float font-bold text-[#31E1F7] text-center">
          Education
        </h1>
        <hr class="text-white my-4" />
        <div class="grid-cols-3 gap-4 justify-center items-center grid">
          <div
            class="animate-once block w-[400px] h-[240px] p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <p class="text-white">2012</p>
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Pendidikan Anak Usia Dini
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Awal pendidikan saya yaitu Pendidikan Anak Usia Dini atau yang
              lebih dikenal dengan sebutan PAUD.
            </p>
          </div>
          <div
            class="block w-[400px] h-[240px] p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <p class="text-white">2013-2015</p>
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              TK
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Setelah menyelesaikan PAUD saya melanjutkan belajar ke TK atau
              singkatan dari Taman Kanak-kanak selama 2 tahun.
            </p>
          </div>
          <div
            class="block w-[400px] h-[240px] p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <p class="text-white">2015-2021</p>
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              SD
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Setelah menyelesaikan 2 tahun di TK, saya melanjutkan ke SD atau
              Sekolah Dasar. saya sekolah SD di SDN Ajibarang wetan selama
              kurang lebih 6 tahun atau 12 semester.
            </p>
          </div>
        </div>
        <div class="grid-cols-2 justify-center items-center flex gap-4 mt-4">
          <div
            class="block w-[400px] h-[240px] p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <p class="text-white">2021-2024</p>
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              SMP
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Setelah menyelesaikan SD saya melanjutkan ke SMP atau Sekolah
              Menengah Pertama. saya sekolah SMP di SMPN 1 Ajibarang selama 3
              tahun atau 6 semester. Dari sini saya mulai mengenal tentang
              coding, seperti HTML dan CSS.
            </p>
          </div>
          <div
            class="block w-[400px] h-[240px] p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <p class="text-white">2024-2027</p>
            <h5
              class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              SMK
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Setelah menyelesaikan SMP saya melanjutkan ke SMK atau Sekolah
              Menengah Kejuruan. Saya sekolah di SMK Telkom selama 3 tahun atau
              6 semester, dari sini saya mulai mengembangkan skills saya dalam
              bidang coding.
            </p>
          </div>
        </div>
      </div>
    </section>
</body>
</html>