<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section
    class="p-7 w-full h-screen flex items-center justify-center"
    id="home"
  >
    <div
    class="w-full max-w-6xl p-6 flex flex-col md:flex-row items-center justify-between gap-6 border border-[#31E1F7] rounded-lg"
  >
    <!-- Teks -->
    <div class="flex flex-col gap-4 max-w-lg text-center md:text-left">
      <h1 class="text-4xl text-white font-semibold">
        Hai, saya <span class="text-[#31E1F7]">Fiky Alrasya</span>
      </h1>
      <p class="text-[#31E1F7] text-2xl font-semibold " id="prof"></p>
      <p class="text-white leading-relaxed">
        Saya Fiky Alrasya, Seorang pemula yg sedang belajar pemrograman web.
      </p>
      <p class="text-white leading-relaxed">
        Saya sedang mencoba untuk menyukai coding, membuat proyek kreatif, dan terus
        belajar hal-hal baru, khususnya di dunia pemrograman.
      </p>
      <p class="text-[#31E1F7] font-semibold">
        Selamat datang di Website Portofolio saya!
      </p>
    </div>

    <!-- Gambar -->
    <div
      class="w-64 h-64 rounded-full shadow-2xl overflow-hidden shadow-[#31E1F7]"
    >
      <img
        class="w-full h-full transition duration-700 hover:scale-125"
        src="https://i.pinimg.com/736x/20/bc/b9/20bcb9c062453c1b9845f04613805140.jpg"
        alt="Fiky"
        loading="lazy"
      />
    </div>
  </div>
  <style>

  </style>
</section>
<script src="../../script.js"></script>
</body>
</html>