<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section
    class="p-7 w-full h-screen flex items-center justify-center"
    id="home"
  >
    <div
    class="w-full max-w-6xl p-6 flex flex-col md:flex-row items-center justify-between gap-6 border border-[#31E1F7] rounded-lg"
  >
    <!-- Teks -->
    <div class="flex flex-col gap-4 max-w-lg text-center md:text-left">
      <h1 class="text-4xl text-white font-semibold">
        Hai, saya <span class="text-[#31E1F7]">Fiky Alrasya</span>
      </h1>
      <p class="text-[#31E1F7] text-2xl font-medium">Web Developer</p>
      <p class="text-white leading-relaxed">
        Saya Fiky Alrasya, seorang web developer dari Banyumas, Jawa Tengah.
      </p>
      <p class="text-white leading-relaxed">
        Saya suka mengeksplorasi coding, membuat proyek kreatif, dan terus
        belajar hal-hal baru, khususnya di dunia pemrograman.
      </p>
      <p class="text-[#31E1F7] font-semibold">
        Selamat datang di Website Portofolio saya!
      </p>
    </div>

    <!-- Gambar -->
    <div
      class="w-64 h-64 rounded-full shadow-2xl overflow-hidden shadow-[#31E1F7]"
    >
      <img
        class="w-full h-full transition duration-700 hover:scale-125"
        src="https://scontent.fjog3-1.fna.fbcdn.net/v/t1.6435-9/127034416_383911583053449_1054287191481397074_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=ClTXRuAB6F0Q7kNvgEpm79X&_nc_oc=AdjBjZh-ifGoyvso9NlG4yC2FmQwecoRIz_MFUEj2KZWmZz3aAIoWX2t3lRciMvTrYU&_nc_zt=23&_nc_ht=scontent.fjog3-1.fna&_nc_gid=AUr5P7eFuLnrdos5u5M0gSH&oh=00_AYDbKMPRM3R8RX1ynEx9F-GaMg0s16rVWU5J01Y_0TF9vg&oe=67E3963C"
        alt="Fiky"
        loading="lazy"
      />
    </div>
  </div>
</section>
</body>
</html>