<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="skills" class="py-16 text-white h-screen w-full">
    <div class="w-full mx-auto p-28">
        <h2 class="text-4xl font-bold text-center text-[#31E1F7] mb-8">
          Skills
        </h2>
        <hr class="text-white my-4" />
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          <div
            class="flex items-center gap-3 bg-gray-800 p-4 rounded-lg shadow-lg dark:hover:bg-gray-600"
          >
            <img src="https://icons.iconarchive.com/icons/cornmanthe3rd/metronome/512/Other-html-5-icon.png" alt="HTML" class="w-10 h-10" />
            <span class="text-lg font-medium">HTML</span>
          </div>
          <div
            class="flex items-center gap-3 bg-gray-800 p-4 rounded-lg shadow-lg dark:hover:bg-gray-600"
          >
            <img src="https://img.icons8.com/fluent/512/css3.png" alt="CSS" class="w-10 h-10" />
            <span class="text-lg font-medium">CSS</span>
          </div>
          <div
            class="flex items-center gap-3 bg-gray-800 p-4 rounded-lg shadow-lg dark:hover:bg-gray-600"
          >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_lDOrNCf_jadyF-yfBibnyObX1FKuMbVUpseD0pChjr6cQyzaJQRJHyRwDqtxgJpwE88&usqp=CAU" alt="JavaScript" class="w-10 h-10 rounded" />
            <span class="text-lg font-medium">JavaScript</span>
          </div>
          <div
            class="flex items-center gap-3 bg-gray-800 p-4 rounded-lg shadow-lg dark:hover:bg-gray-600"
          >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSoW3g9hjXIasgon-kpzz-lD9z4SsalyPbZA&s" alt="React.js" class="w-10 h-10" />
            <span class="text-lg font-medium">React.js</span>
          </div>
        </div>
        <div class="grid md:grid-cols-2 items-center justify-center gap-6 mt-6">
          </div>
        </div>
      </div>
      </section>
</body>
</html>